<div class="bg-yellow-600 flex justify-between items-center h-20">
    <div class="flex items-center p-4 mr-6 ml-6">
        <img src="../../../assets/img/logo.png" alt="Logo" class="h-10 mr-2">
        <span class="font-bold tracking-wide text-white text-lg ml-2">EquIT</span>
    </div>

    <div class="flex items-center space-x-10 mr-20 font-bold">
        <a routerLink="/horses-overview" class="p-4 text-white">Gestion des chevaux</a>
        <a routerLink="/riders-overview" class="p-4 text-white">Gestion des cavaliers</a>
        <a routerLink="/riding-sessions-overview" class="p-4 text-white">Gestion des séances</a>
</div>