<div class="bg-gray-800 text-white w-full p-4 rounded flex justify-center items-center">
    <div class="bg-yellow-600 p-6 rounded-lg shadow-lg max-w-4xl w-full">
        <div class="grid grid-cols-2 gap-4">

            <div class="space-y-4">
                    <p class="font-bold text-white">First Name</p>
                    <p class="text-white font-bold">{{rider.firstName}}</p>
            </div>

            <div class="space-y-4">
                    <p class="font-bold text-white">Last Name</p>
                    <p class="text-white
                    font-bold">{{rider.lastName}}</p>
            
            </div>

            <div class="space-y-4">
                    <p class="font-bold text-white">Pseudo</p>
                    <p class="text-white
                    font-bold">{{rider.pseudo}}</p>
            </div>
        </div>
    </div>
</div>
