<div class="bg-gray-800 text-white w-full p-4 rounded flex justify-center items-center">
    <div class="bg-yellow-600 p-6 rounded-lg shadow-2xl max-w-4xl w-full">
        <h2 class="text-center font-bold text-xl mb-4">Détails du cheval</h2>
        <div class="grid grid-cols-2 gap-8">

            <div class="space-y-6">
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Numéro de sire</p>
                    <p class="text-lg">{{horse.sireNumber}}</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Genre du cheval</p>
                    <p class="text-lg">{{horse.gender}}</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Date de naissance</p>
                    <p class="text-lg">{{horse.dateOfBirth}}</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Lieu de naissance</p>
                    <p class="text-lg">{{horse.placeOfBirth}}</p>
                </div>
            </div>

            <div class="space-y-6">
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Couleur de robe</p>
                    <p class="text-lg">{{horse.color}}</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Race</p>
                    <p class="text-lg">{{horse.breed}}</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Taille</p>
                    <p class="text-lg">{{horse.height}} cm</p>
                </div>
                <div class="bg-gray-900 p-4 rounded-lg">
                    <p class="font-bold text-white text-sm uppercase">Poids</p>
                    <p class="text-lg">{{horse.weight}} kg</p>
                </div>
            </div>
        </div>
    </div>
</div>
